.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

*.http
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/vc-github-actions/v17
/.vs/vc-github-actions/FileContentIndex
