name: Docker Environment + OWASP
on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:

      - name: Docker Login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Env
        uses: VirtoCommerce/vc-github-actions/docker-env@master
        with:
          githubUser: ${{ env.GITHUB_ACTOR }}
          githubToken: ${{ env.GITHUB_TOKEN }}
          platformImage: docker.pkg.github.com/virtocommerce/vc-platform/platform
          storefrontImage: docker.pkg.github.com/virtocommerce/vc-storefront/storefront
          validateSwagger: 'false'

      - name: Containers info
        id: containers
        shell: pwsh
        run: |
          $platformIP = docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' virtocommerce_vc-platform-web_1
          $storefrontIP = docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' virtocommerce_vc-storefront-web_1
          Write-Output "Platform ip: $($platformIP). Storefront ip: $($storefrontIP)"
          Write-Output "::set-output name=platformIP::$($platformIP)"
          Write-Output "::set-output name=storefrontIP::$($storefrontIP)"

      - name: OWASP ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'owasp/zap2docker-stable'
          target: 'http://localhost:8080'
          cmd_options: '-a -d'
