name: Remove file from repositories

on:
  workflow_dispatch:
    inputs:
      filePath:
        description: 'Full file location path which should be removed from repo'
        required: true
        type: string
      branchName:
        description: 'Branch name, where file should be removed from repo'
        required: true
        default: 'dev'
        type: string

jobs:

  remove-file:  
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
# Module workflows
          repoName: [vc-module-assets
                    ,vc-module-Authorize.Net
                    ,vc-module-avatax
                    ,vc-module-azureblob-assets
                    ,vc-module-azure-search
                    ,vc-module-bulk-actions
                    ,vc-module-cart
                    ,vc-module-catalog
                    ,vc-module-catalog-csv-import
                    ,vc-module-catalog-export-import
                    ,vc-module-catalog-personalization
                    ,vc-module-catalog-publishing
                    ,vc-module-content
                    ,vc-module-core
                    ,vc-module-customer
                    ,vc-module-customer-export-import
                    ,vc-module-customer-review
                    ,vc-module-dynamic-associations
                    ,vc-module-elastic-app-search
                    ,vc-module-elastic-search
                    ,vc-module-event-bus
                    ,vc-module-experience-api
                    ,vc-module-export
                    ,vc-module-filesystem-assets
                    ,vc-module-gdpr
                    ,vc-module-google-ecommerce-analytics
                    ,vc-module-image-tools
                    ,vc-module-inventory
                    ,vc-module-lucene-search
                    ,vc-module-marketing
                    ,vc-module-metadata
                    ,vc-module-notification
                    ,vc-module-order
                    ,vc-module-payment
                    ,vc-module-price-export-import
                    ,vc-module-pricing
                    ,vc-module-profile-experience-api
                    ,vc-module-quote
                    ,vc-module-return
                    ,vc-module-search
                    ,vc-module-shipping
                    ,vc-module-sitemaps
                    ,vc-module-store
                    ,vc-module-subscription
                    ,vc-module-tax
                    ,vc-module-webhooks
                    ,vc-module-native-payment-methods
                    ,vc-module-shipstation
                    ,vc-module-authorize-net]

    steps:

    - uses: actions/checkout@v3
      with:
        repository: '${{ github.repository_owner }}/${{ matrix.repoName }}'
        ref: '${{ github.event.inputs.branchName }}'
        token: '${{ env.GITHUB_TOKEN }}'

    - name: Setup Git Credentials
      uses: VirtoCommerce/vc-github-actions/setup-git-credentials-github@master
      with:
        githubToken: ${{ secrets.REPO_TOKEN }}

    - name: Remove ${{ github.event.inputs.filePath }} from ${{ matrix.repoName }} repo 
      run: |
        git rm ${{ github.event.inputs.filePath }}
        git commit -m "ci: Remove ${{ github.event.inputs.filePath }} from repo"
        git push
